In [ ]:

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import json # to read json

In [ ]:

def squad_json_to_dataframe_train(input_file_path, record_path = ['data','paragraphs','qas','answers'],
                           verbose = 1):
    """
    input_file_path: path to the squad json file.
    record_path: path to deepest level in json file default value is
    ['data','paragraphs','qas','answers']
    verbose: 0 to suppress it default is 1
    """
    if verbose:
        print("Reading the json file")    
    file = json.loads(open(input_file_path).read())
    if verbose:
        print("processing...")
    # parsing different level's in the json file
    js = pd.io.json.json_normalize(file , record_path )
    m = pd.io.json.json_normalize(file, record_path[:-1] )
    r = pd.io.json.json_normalize(file,record_path[:-2])
    
    #combining it into single dataframe
    idx = np.repeat(r['context'].values, r.qas.str.len())
    ndx  = np.repeat(m['id'].values,m['answers'].str.len())
    m['context'] = idx
    js['q_idx'] = ndx
    main = pd.concat([ m[['id','question','context']].set_index('id'),js.set_index('q_idx')],1,sort=False).reset_index()
    main['c_id'] = main['context'].factorize()[0]
    if verbose:
        print("shape of the dataframe is {}".format(main.shape))
        print("Done")
    return main

In [ ]:
!wget https://rajpurkar.github.io/SQuAD-explorer/dataset/train-v2.0.json

--2020-11-13 04:41:50--  https://rajpurkar.github.io/SQuAD-explorer/dataset/train-v2.0.json
Resolving rajpurkar.github.io (rajpurkar.github.io)... 185.199.108.153, 185.199.109.153, 185.199.110.153, ...
Connecting to rajpurkar.github.io (rajpurkar.github.io)|185.199.108.153|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 42123633 (40M) [application/json]
Saving to: ‘train-v2.0.json’

train-v2.0.json     100%[===================>]  40.17M   122MB/s    in 0.3s

2020-11-13 04:41:50 (122 MB/s) - ‘train-v2.0.json’ saved [42123633/42123633]

In [ ]:
input_file_path = 'train-v2.0.json'
record_path = ['data','paragraphs','qas','answers']
train = squad_json_to_dataframe_train(input_file_path=input_file_path,record_path=record_path)

Reading the json file
processing...

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:16: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  app.launch_new_instance()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:17: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:18: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

shape of the dataframe is (130319, 6)
Done

In [ ]:
train.head()

                      index  ... c_id
0  56be85543aeaaa14008c9063  ...    0
1  56be85543aeaaa14008c9065  ...    0
2  56be85543aeaaa14008c9066  ...    0
3  56bf6b0f3aeaaa14008c9601  ...    0
4  56bf6b0f3aeaaa14008c9602  ...    0

[5 rows x 6 columns]

In [ ]:
contexts = train['context'].unique()

contexts_size = contexts.size

print('The total number of unique contexts are = ', contexts_size)

Beyoncé Giselle Knowles-Carter (/biːˈjɒnseɪ/ bee-YON-say) (born September 4, 1981) is an American singer, songwriter, record producer and actress. Born and raised in Houston, Texas, she performed in various singing and dancing competitions as a child, and rose to fame in the late 1990s as lead singer of R&B girl-group Destiny's Child. Managed by her father, Mathew Knowles, the group became one of the world's best-selling girl groups of all time. Their hiatus saw the release of Beyoncé's debut album, Dangerously in Love (2003), which established her as a solo artist worldwide, earned five Grammy Awards and featured the Billboard Hot 100 number-one singles "Crazy in Love" and "Baby Boy".
The total number of unique contexts are =  19029

In [ ]:
import random
total_text = []

number_of_contexts = 30 # Set the number of contexts you want to concatenate to create the data

for index, row in train.iterrows():

  text = ""

  for i in range(number_of_contexts):

    curr_ques = row['question']
    curr_context = row['context']

    random_int = random.randint(0, context_size-1)
    context_text = contexts[random_int]

    if context_text!=curr_context:
      text=text+context_text

    if i==number_of_contexts/2:
      text=text+curr_context

  total_text.append(text)

train['total_text']=total_text

train.head()

                      index  ...                                         total_text
0  56be85543aeaaa14008c9063  ...  In the US, African Americans, who include mult...
1  56be85543aeaaa14008c9065  ...  There are four public institutes of technology...
2  56be85543aeaaa14008c9066  ...  In 1870, republican sentiment in Britain, fed ...
3  56bf6b0f3aeaaa14008c9601  ...  During the Middle Ages, shipbuilding became an...
4  56bf6b0f3aeaaa14008c9602  ...  Technological developments by videoconferencin...

[5 rows x 7 columns]

In [ ]:
final_data = train[['question', 'context', 'total_text','text']].copy()

final_data = final_data.rename(columns={'text': 'answer'})

final_data.head()

                                            question  ...               answer
0           When did Beyonce start becoming popular?  ...    in the late 1990s
1  What areas did Beyonce compete in when she was...  ...  singing and dancing
2  When did Beyonce leave Destiny's Child and bec...  ...                 2003
3      In what city and state did Beyonce  grow up?   ...       Houston, Texas
4         In which decade did Beyonce become famous?  ...           late 1990s

[5 rows x 4 columns]

In [ ]:
from google.colab import files

final_data.to_csv('final_data')
files.download('final_data')

In [ ]:
!wget https://rajpurkar.github.io/SQuAD-explorer/dataset/dev-v2.0.json

--2020-11-13 04:41:58--  https://rajpurkar.github.io/SQuAD-explorer/dataset/dev-v2.0.json
Resolving rajpurkar.github.io (rajpurkar.github.io)... 185.199.109.153, 185.199.108.153, 185.199.110.153, ...
Connecting to rajpurkar.github.io (rajpurkar.github.io)|185.199.109.153|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4370528 (4.2M) [application/json]
Saving to: ‘dev-v2.0.json’

dev-v2.0.json       100%[===================>]   4.17M  --.-KB/s    in 0.1s

2020-11-13 04:41:58 (30.6 MB/s) - ‘dev-v2.0.json’ saved [4370528/4370528]

In [ ]:
def squad_json_to_dataframe_dev(input_file_path, record_path = ['data','paragraphs','qas','answers'],
                           verbose = 1):
    """
    input_file_path: path to the squad json file.
    record_path: path to deepest level in json file default value is
    ['data','paragraphs','qas','answers']
    verbose: 0 to suppress it default is 1
    """
    if verbose:
        print("Reading the json file")    
    file = json.loads(open(input_file_path).read())
    if verbose:
        print("processing...")
    # parsing different level's in the json file
    js = pd.io.json.json_normalize(file , record_path )
    m = pd.io.json.json_normalize(file, record_path[:-1] )
    r = pd.io.json.json_normalize(file,record_path[:-2])
    
    #combining it into single dataframe
    idx = np.repeat(r['context'].values, r.qas.str.len())
#     ndx  = np.repeat(m['id'].values,m['answers'].str.len())
    m['context'] = idx
#     js['q_idx'] = ndx
    main = m[['id','question','context','answers']].set_index('id').reset_index()
    main['c_id'] = main['context'].factorize()[0]
    if verbose:
        print("shape of the dataframe is {}".format(main.shape))
        print("Done")
    return main

In [ ]:
input_file_path = 'dev-v2.0.json'
record_path = ['data','paragraphs','qas','answers']
verbose = 0
dev = squad_json_to_dataframe_dev(input_file_path=input_file_path,record_path=record_path)

Reading the json file
processing...

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:15: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  from ipykernel import kernelapp as app
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:16: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  app.launch_new_instance()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:17: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

shape of the dataframe is (11873, 5)
Done

In [ ]:
dev.head()

                         id  ... c_id
0  56ddde6b9a695914005b9628  ...    0
1  56ddde6b9a695914005b9629  ...    0
2  56ddde6b9a695914005b962a  ...    0
3  56ddde6b9a695914005b962b  ...    0
4  56ddde6b9a695914005b962c  ...    0

[5 rows x 5 columns]